/* Breakpoint visti in classe 600 - 700 - 1100 px */
@media screen and (max-width: 1099px) {
    .container-album {
        font-size: 70%;
    }
}

@media screen and (max-width: 700px) {
    .container-album {
        font-size: 60%;
    }

    .container-album .row {
        flex-wrap: wrap;
        justify-content: left;
    }

    .col {
        max-width: calc(100% / 4 - 10px);
    }

    .navbar ul {
        flex-wrap: wrap;
    }

    .navbar ul li:first-child {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 50px;
    }

    .sidebar .logo-big,
    .sidebar .list-home .white-text,
    .sidebar .list-home .gray-text,
    .list-playlist,
    .sidebar .bottom-side img ~ span,
    .sidebar .bottom-side a span.install-app,
    .sidebar .bottom-side hr {
        display: none;
    }

    .logo-small {
        display: block;
    }

    .catalog {
        width: calc(100% - 50px);
    }

    .container-album .row {
        flex-wrap: wrap;
        justify-content: left;
    }

    .col {
        max-width: calc(100% / 2 - 10px);
    }

    .navbar ul {
        flex-wrap: wrap;
    }
}