* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    background-color: lightgray;
    border: 1px solid black;
}

/** layout **/

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

/** main **/

.main {
    height: calc(100vh - 90px);
}

/** sidebar **/

.sidebar {
    width: 227px;
    height: 100%;
}

/** play-menu **/

.play-menu {
    height: 93px;
}

.play-menu .row {
    padding: 10px;
}