:root {
    --main-bg-color: #141922;
    --upgrade-bg-color: #080B12;
    --sidebar-bg-color: #000000;
    --white-txt-color: #FFF;
    --gray-text-color: #A3A3A3;
    --playmenu-bg-color: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.debug {
    background-color: lightgray;
    border: 1px solid black;
}

/** layout **/

.row {
    display: flex;
}

.col {
    max-width: calc(100% / 6 - 15px);
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.d-inline-block {
    display: inline-block;
}

.white-text {
    color: var(--white-txt-color);
}

.gray-text {
    color: var(--gray-text-color);
    font-size: 0.9rem;
}

.border-50 {
    border-radius: 50%;
}

/** main **/

.main {
    height: calc(100vh - 90px);
}

/** sidebar **/

.sidebar {
    width: 230px;
    height: 100%;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
}

.sidebar .top-side {
    height: 100%;
    padding: 20px;
}

/* LIST HOME */

.list-home {
    font-size: 0.8rem;
}

.list-home li img {
    display: inline-block;
    width: 12%;
    vertical-align: middle;
}

.list-home li a {
    vertical-align: middle;
    font-size: 0.8rem;
    line-height: 2rem;
}

/* PLAYLIST */

.sidebar .top-side .logo {
    height: 90px;
}

.sidebar .top-side .logo img {
    width: 65%;
}

.sidebar .top-side .list-playlist {
    height: calc(100% - 115px);
    margin-top: 30px;
}

.list-playlist .create-btn {
    display: inline-block;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.list-playlist .create-btn::before {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    content: "\2b";
    vertical-align: middle;
    margin-right: 10px;
    font-size: 2rem;
    background-color: #A3A3A3;
    color: black;
}


.sidebar .top-side div.playlists {
    max-height: 70%;
    overflow: auto;
    line-height: 1.9rem;
    font-size: 0.8rem;
}

.sidebar .bottom-side {
    height: 90px;
    background-color: blue;
}

/** catalog **/

.catalog {
    width: calc(100% - 230px);
    overflow: auto;
    background-color: var(--main-bg-color);
}

/** upgrade **/

.upgrade {
    width: calc(100% - 230px);
    height: 90px;
    text-align: end;
    position: fixed;
    opacity: 0.8;
    background-color: var(--upgrade-bg-color);
}

.upgrade a {
    text-transform: uppercase;
    line-height: 90px;
    padding: 15px 40px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50px;
}

/** nav bar **/

.album .navbar {
    margin-top: 90px;
    padding-top: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul a {
    text-transform: uppercase;
    color: var(--gray-text-color);
}

/** album **/

.container-album {
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.container-album h2 {
    margin-top: 30px;
}

.container-album div.row {
    margin-top: 35px;
    gap: 15px;
}

.card h3 {
    margin-top: 20px;
}

.card p {
    margin-top: 10px;
}

/** play-menu **/

.play-menu {
    height: 90px;
    background-color: var(--playmenu-bg-color);
}

.playbar {
    height: 100%;
}

.playbar .play-side-menus {
    width: 230px;
    height: 100%;
    background-color: aqua;
}

.playbar .playsong {
    height: 100%;
    width: calc(100% - 460px);
    background-color: bisque;
}

.playbar .buttons {
    height: 50px;
    background-color: cadetblue;
}

.playbar .elapse {
    height: 40px;
}

/* .play-menu p {
    font-size: 0.8rem;
}

.play-menu .row {
    height: 100%;
}

.play-menu .col {
    max-width: 230px;
}

.play-menu .col nav {
    height: 100%;
}

.play-menu .col ul {
    font-size: 0.8rem;
    height: 100%;
}

.play-menu .col ul li:first-child {
    width: 60%;
    padding-left: 10px;
}

.play-menu .play-img {
    max-width: calc(100% / 3);
}

.play-menu .col ul li:first-child span {
    padding-left: 10px;
}

.play-menu .col ul li:last-child {
    width: 40%;
}
 */




